

section.container-fluid{
	margin-top: -65px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;


	div.card{
		width: 1000px;
		height: 710px;

		img{
			height: 500px;

		}

		div.card-body{


			p.card-text{

			}
		}
	}
}


.bolded{
	font-weight: bold;
}



@media (max-width: 1024px){

	section.container-fluid{

		div.card{
			margin-top: 100px;
		}
	}
}



@media (max-width: 370px){

	section.container-fluid{

		div.card{
			margin-top: 200px;
			height: 829px;
		}
	}



}