// icons bootstrap
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


// variables


// colors

$mainColor:rgba(255, 238, 237, 0.7);



// sizing
$w-100:100%;
$w-90:90%;
$w-80:80%;
$w-70:70%;
$w-60:60%;
$w-50:50%;
$w-40:40%;
$w-30:30%;
$w-25:25%;
$w-20:20%;
$w-10:10%;

