@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Lobster&family=Open+Sans:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Sansita+Swashed&display=swap');

// fonts
$fontMain:'Sansita Swashed', cursive; 


// text variables

$textXl:4em;
$textLg:3em;
$textMd:2em;
$textSm:1.1em;