.footerProperties{

	margin-top: 100px !important;
	background-color: rgba(30, 30, 30, 0.9);
}

.instagramButton{
  color: rgba(196, 52, 199, 1.0);
}


.facebookButton{
  color: rgba(0, 128, 255, 1.0);
}


.wspButton{
  color: rgba(31, 242, 0, 1.0);
}




footer{

	section{

		div{
           padding-left: 12px;

			span{

			}
		}
	}
}


footer{

	section{

			div.social a{
				text-decoration: none;
			}

	}
}