.footerProperties{

	margin-top: 100px !important;
	background-color: rgba(30, 30, 30, 0.9);
}

.instagramButton{
  color: map-get($map:$paletColor,$key:'cinco');
}


.facebookButton{
  color: map-get($map:$paletColor,$key:'seis');
}


.wspButton{
  color: map-get($map:$paletColor,$key:'siete');
}




footer{

	section{

		div{
           padding-left: 12px;

			span{

			}
		}
	}
}


footer{

	section{

			div.social a{
				text-decoration: none;
			}

	}
}